body{
    margin:0;
    padding: 0;

}
.rotating-section{ 
    position:relative;
    background:#000000;
    width:50vw;
    height:110vh;
    overflow:hidden;
}
.rect1,.rect2,.rect3,.rect4{
    position:absolute;
    opacity: 0.5;
    width:100px;
    height:100px;
    bottom:-150px;
    background:#fff;
    animation: mymove2 4s linear infinite;
}

.rect1{left:50%;}
.rect2{left:10%;animation-delay:0.3s;}
.rect3{left:25%;animation-delay:2s;}
.rect4{left:85%;animation-delay:1s;}

.rect5,.rect6,.rect7,.rect8{
    position:absolute;
    width:50px;
    height:50px;
    background:#fff;
    bottom:-150px;
    animation: mymove2 4s linear infinite;    
}

.rect5{left:0%;}
.rect6{left:15%;animation-delay:2.2s;}
.rect7{left:45%;animation-delay:0.8s;}
.rect8{left:77%;animation-delay:1.4s;}

.rect9,.rect10{
    position:absolute;
    width:300px;
    height:300px;
    background:#fff;
    bottom:-250px;
    border-radius:50%;
    animation: mymove3 5s linear infinite;    
}

.rect9{left:3%;}
.rect10{left:95%;animation-delay:0s;}

.rect13,.rect14{
    position:absolute;
    width:0px;
    height:0px;
    border:solid 40px transparent;
    border-bottom:solid 40px #fff;
    bottom:-150px;
    animation: mymove4 4s linear infinite;
}

.rect13{left:45%;border-bottom:solid 65px #fff;animation-delay:0.6s;}
.rect14{left:72%;border-bottom:solid 120px #fff;animation:mymove5 6s linear infinite;animation-delay:1s;}

.rect11,.rect12{
    position:absolute;
    width:0px;
    height:0px;
    border:solid 40px transparent;
    border-bottom:solid 40px #fff;
    bottom:-150px;
    animation: mymove5 4s linear infinite;
}

.rect11{left:30%;}
.rect12{left:65%;border-bottom:solid 60px #fff;animation-delay:1.3s;}

.rect15{
    position:absolute;
    width:300px;
    height:300px;
    background:#fff;
    bottom:-400px;
    animation: mymove3 6s linear infinite;
}

.rect15{left:55%;}

.rect17{
    position:absolute;
    width:150px;
    height:150px;
    background:#fff;
    bottom:-400px;
}

@keyframes mymove2{
    0%{	transform:rotate(0deg);opacity:1;}
    100%{transform:rotate(540deg);opacity:0;bottom:340px;}
}

@keyframes mymove3{
    0%{	transform:rotate(0deg);opacity:1;}
    100%{transform:rotate(720deg);opacity:0;bottom:540px;}
}

@keyframes mymove4{    
    0%{	transform:rotate(0deg);opacity:1;}
    100%{transform:rotate(720deg);opacity:0;bottom:540px;}
}

@keyframes mymove5{    
    0%{	opacity:1;}
    100%{opacity:0;bottom:540px;}
}
@media (max-width: 768px) {
    .rotating-section{ 
        position:relative;
        background:#000000;
        width:100vw !important;
        height:120vh;
        overflow:hidden;
        opacity: 0.2;
        font-weight: bolder;
    }
}