body{
    background-color: #121212;
    color:white;
    box-sizing: border-box;
}
header{
    width:100vw;
    background-color: #1f1f1f;
    color:#e6e6e6;
    height: 10vh;
    font-size: calc(1rem + 1vw); 
    display: flex;
    
}
header .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height:100%;
}
header .heading img{
    height:70%;
    width:auto;
    margin: 0px;
}
header img{
    margin:auto 2rem;
    height:80%;
    width:auto;
}

@media (max-width: 768px) {
    header .heading{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 0rem;
        height:100%;
        text-align: center;
    }
    header .heading img{
      /* margin: auto 0rem; */
        height:50%;
        width:auto;
    }
    header .heading img{
        height:50%;
        width:auto;
    }
    .user{
        /* display: none; */
        height:40%;
        width:auto;
        
    }
    
}