:root {
    --purple: #BA87FF;
    --scifiblue: #ABF0F9;
    --background: #000;
    --background-lighter: #000;
}

body {
    color: #29292b;
    background-color: var(--background);

}

header {
    width: 98.6vw;
    background-color: #000000;
    color: #dadada;
    height: 8vh;
    font-size: calc(1rem + 0.7vw);
    display: flex;
    border-bottom: 2px solid #292a2c;
}

header .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
}

header .heading img {
    height: 70%;
    width: auto;
    margin: 0px;
}

header img {
    margin: 0.5rem 2rem 0 2rem;
    height: 80%;
    width: auto;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

}

.logoutButton {
    display: none;
    background-color: #000000;
    height: auto;
    position: absolute;
    right: 0;
    padding: 0.7rem 1rem;
    font-size: calc(0.8rem + 0.2vw);
    width: 10vw;
    border: 2px solid #292a2c;
    border-radius: 0.5rem;
    color: #d8dad9;
    cursor: pointer;

}

.logoutButton {

    display: block;
}

.room {
    width: 60vw;
    box-shadow: 10px 0 10px -10px rgb(160, 227, 230), -10px 0 10px -10px rgb(160, 227, 230);
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--background);
    align-items: stretch;
}

.secret {
    width: 80%;
    border-radius: 9px;
    color: var(--scifiblue);
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid var(--purple);
    padding: 0.1rem;
    padding-top: 0rem;
    margin-top: 1rem;
    padding-left:2rem;

}

.userprofile {
    display: flex;
    height: auto;
    width: 100%;

}

.userprofile strong {
    margin: 0.7rem;
    margin-left: 0rem;
    color: #d8dad9;
}

.userimage {
    width: 3%;
    height: auto;
    margin: 0.5rem;
}

.text {
    margin: 2rem 0.5rem;
    padding-top: 3rem;
    font-size: calc(1rem + 0.3vw);
}

.btm {
    position: fixed;
    width: 60vw;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}
strong span{
    color:#d8dad9;
    font-weight: lighter;

}
.btm input {
    background-color:var(--background);
    border: none;
    outline: none;
    border-top:2px solid var(--scifiblue);
    width: 100%;
    height: auto;
    font-size: calc(0.8rem + 0.7vw);
    padding: 0.9rem;
    color: #e6e6e6;
    border-radius: 10px;
}

.btm Button {
    background: var(--background);
    color:var(--scifiblue);
    height: auto;
    width: 2rem;
    /* margin: 0.5rem; */
    cursor: pointer;
}

@media (max-width: 768px) {
    header .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: auto 0rem; */
        height: 100%;
        text-align: center;
    }

    header img {
        margin: 1.5rem 2rem 0 2rem;
    }

    header .heading img {
        /* margin: auto 0rem; */
        height: 50%;
        width: auto;
        margin: 0px;
    }

    header .heading img {
        height: 50%;
        width: auto;
    }

    .user {
        /* display: none; */
        height: 40%;
        width: auto;

    }

    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;

    }

    .navbar {
        display: none;
    }

    .room {
        width: 100vw;
        border-left: 2px solid #292a2c;
        border-right: 2px solid #292a2c;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: #080808;
    }

    .secret {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #292a2c;
        padding: 1rem;
        padding-top: 0rem;
        color: #d8dad9;

    }

    .userprofile {
        display: flex;
        height: auto;
        width: 100%;

    }

    .userprofile strong {
        margin: 0.7rem;
        margin-left: 0rem;
        color: #d8dad9;
    }

    .userimage {
        width: 7%;
        height: auto;
        margin: 0.5rem;
    }

    .text {
        margin: 2rem 0.5rem;
        padding-top: 3rem;
        font-size: calc(1rem + 0.3vw);
    }

    .btm {
        position: fixed !important;
        width: 100%;
        bottom: -10px;
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        padding-left: 0rem;

    }

    .btm input {
        width: 100%;
        height: auto;
        font-size: calc(0.8rem + 0.7vw);
        padding: 0.5rem;
        border: none;
        outline: none;
        background-color: #1f1f1f;
        color: #e6e6e6;
    }

    .btm img {
        height: 1rem;
        width: 1rem;
        margin: 0.5rem;
        cursor: pointer;
    }

    .logoutButton {
        display: none;
        background-color: #000000;
        height: auto;
        position: absolute;
        right: 10px;
        padding: 0.7rem 1rem;
        font-size: calc(0.8rem + 0.2vw);
        width: 20vw;
        border: 2px solid #292a2c;
        border-radius: 0.5rem;
        color: #d8dad9;
        cursor: pointer;

    }

    .logoutButton {

        display: block;
    }

}